Lab7/WcfServiceLibrary2/BankForm/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WithDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:WithDraw" />
  </wsdl:message>
  <wsdl:message name="IService1_WithDraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithDrawResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IService1_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAccount">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/ValidateAccount" message="tns:IService1_ValidateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/ValidateAccountResponse" message="tns:IService1_ValidateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WithDraw">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/WithDraw" message="tns:IService1_WithDraw_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/WithDrawResponse" message="tns:IService1_WithDraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/Deposit" message="tns:IService1_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/DepositResponse" message="tns:IService1_Deposit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>