Lab8.1/SimpleMsmqWcf/SimpleMsmqWcfClient/Connected Services/ServiceReference1/IServiceContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyServices/IServiceContract" elementFormDefault="qualified" targetNamespace="http://MyServices/IServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>